* {
    box-sizing: border-box;
  }
  h1{
      text-align: center;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .column1 {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer{
      padding: 10px;
      background-color: #012;
      color: #fff;
      text-align: center;
  }
  button{
      background-color: orange;
      text-transform: uppercase;
      border:0;
      border-radius: 5px;
  }